@font-face {
  font-family: Nunito;
  src: url('../src/utils/fonts/Nunito/NunitoSans-SemiBold.ttf');
}
@font-face {
  font-family: NunitoItalic;
  src: url('../src/utils/fonts/Nunito/NunitoSans-SemiBoldItalic.ttf');
}
@font-face {
  font-family: NunitoBold;
  src: url('../src/utils/fonts/Nunito/NunitoSans-Bold.ttf');
}

body {
  font-family: Nunito;
}